.jumbotron {
    background-image: url(../images/jumbotron.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    height: 400px;
}
